section.main_screen.container-fluid
	.row.flex-column.text-center.align-self-center.justify-content-center.h-100
		h2.h1.mb-2.mb-md-3.mb-lg-4 КУРС ПРОГРАММИРОВАНИЯ
		h1.h4.mb-2.mb-md-3.mb-lg-4 FRONT-END DEVELOPER <br> ЗА 2 МЕСЯЦА
		h3.h6.mb-2.mb-md-3.mb-lg-4 ДО 10 ЧЕЛОВЕК В ГРУППЕ
		a(href="#")
			button.btn.btn-lg.btn-success(type="button") ЗАПИСАТЬСЯ

section#about.container.pt-4.pb-4.pt-md-5.pb-md-5
	.row
		h2.h4_blue.mb-2.mb-md-3.mb-lg-4 О КУРСЕ
	p Ни один современный сайт не обходится без динамической логики. Все уважающие себя ресурсы давно и активно используют технологию HTML5 которая пришла на смену такой технологии как Flash. Курс отлично подойдет тем, кто хочет получить прибыльную и востребованную интернет профессию.
	p Вы освоите самые передовые технологии браузерной web-разработки. Научитесь промышленной и семантической верстке макетов. Освоите JavaScript, JQuery, VueJs и многое другое. Получите портфолио и сможете зарабатывать от 18 000$ до 130 000$ в год. Это одна из лучших профессий для трудоустройства за границей.
	p Дефицит фронтенд разработчиков, действительно понимающих что они делают очень высок. Курс на 80% состоит из практики. Вы научитесь не просто использовать технологии но и понимать их, что даст внушительное конкурентное преимущество.

section.learn.container-fluid.pt-4.pb-4.pt-md-5.pb-md-5
	.container
		.row
			h2.h4_blue.mb-3.mb-md-4.mb-lg-5 ВЫ ОСВОИТЕ
		.row
			.col-12.col-md-6
				p HTML5 / CSS3
				p JavaScript
				p JQuery
				p AJAX
				p VueJs
				p Vuex / Vue Router / Axios
				p Semantic-UI
			.col-12.col-md-6
				p Bootstrap
				p Sublime3
				p Git / Bitbucket / Github
				p Инструмент разработчика Chrome
				p NPM
				p Ресурсы для заработка

section#program.container.pt-4.pb-4.pt-md-5.pb-md-5.bg-white
	.row
		h2.h4_blue.mb-3.mb-md-4.mb-lg-5 ПРОГРАММА КУРСА
	h5.p_head Модуль 1 – Подготовка
	p – Краткая история развития интернета
	p – Что за зверь HTML5? Почему теперь не нужен Flash?
	p – Установка и основы работы  FarManager
	p – Установка и настройка ConEmul. Мощнейшая консоль из коробки
	p – Установка NodeJs
	p – Установка Sublime3 и расширение до полноценной IDE
	p – Настройка рабочего окружения и запуск первого кода
	h5.p_head Модуль 2 – HTML5
	p – Что общего между адронным коллайдером и HTML?
	p – Переменные. Хранение данных в памяти компьютера
	p – Функции. Создаем собственные микропрограммы
	p – Встроенные функции для работы со строками
	p – Встроенные функции для работы с числами
	p – Что если? Логика, ветвления, вариации
	p – Массивы данных. Хранение и обработка
	p – Циклы for и while. Что лучше?
	p – Словари как семантическая разновидность массивов
	p – Кортежи. Неизменяемые массивы данных
	p – Срезы. Диапазоны. Отсекаем лишнее
	p – Типы данных и преобразования из одного в другой
	p – Работа с файлами. Запись и чтение. Поиск по файлу
	p – Регулярные выражения. Поиск и замена по шаблону
	p – Итоговая работа. Чат-робот Алиса. Учим компьютер общаться
	h5.p_head Модуль 3 – CSS3
	p – Понятие концепции ООП. Преимущества и недостатки
	p – Проектирование классов
	p – Атрибуты и свойства объектов
	p – Методы класса как простые функции
	p – Создание объектов на базе классов
	p – Методы конструкторы
	p – Наследование, инкапсуляция, полиморфизм
	p – Взаимодействие объектов друг с другом
	p – Итоговая работа. Консольная игра-блокбастер “Робот против человека”
	h5.p_head Модуль 4 – JavaScript
	p – DOM и BOM. Разбираемся с тем как устроен браузер
	p – Глубокое понимание инструмента разработчика в Chrome
	p – Переменные. Хранение данных в памяти компьютера
	p – Типы данных и преобразования из одного в другой
	p – Встроенные функции. alert(),prompt(), concole.log()
	p – Функции. Создаем собственные микропрограммы
	p – Что если? Логика, ветвления, вариации
	p – Массивы данных. Хранение и обработка
	p – Циклы for и forEach. Что лучше?
	p – Объекты как ассоциативные массивы
	p – Работа с датами и временем. Библиотека moment.js
	p – Учимся считать диапазоны между датами
	h5.p_head Модуль 5 – VueJS
	p – Основы проектирования баз данных
	p – База данных SQLite
	p – Основы языка запросов SQL. Извлечение, добавление, удаление, обновление
	p – Django. Введение в создание web-приложений
	p – Концепция MVC. Модель. Представление. Контроллер
	p – Django ORM. Управляем базами данных с помощью ООП
	p – Итоговая работа. Интернет магазин для продажи товаров

section#answer_pre.container-fluid
	#answer_pre_rotate

section.learn.container-fluid.pt-4.pb-4.pt-md-5.pb-md-5
	.container
		.row
			h2.h4_blue.mb-3.mb-md-4.mb-lg-5 ЧТО В ИТОГЕ?
		.text-center
			p Сможете основать собственный проект
			p Поучаствуете в разработке стартапа
			p Освоите прибыльную профессию
			p Научитесь работать в команде
			p Пройдете трениг от HR по трудоустройству
			p Получите сертификат и рекомендацию
			p Получите бесценный опыт и навыки

section.container.cards.cards_course.pt-4.pb-4.pt-md-5.pb-md-5.bg-white
	.row
		h2.h4_blue.mb-3.mb-md-4.mb-lg-5 СТОИМОСТЬ УЧАСТИЯ
	.row
		.col.col-md-6.col-lg-4.text-center.m-auto.f-basis320px
			.card.card2.shadow-lg
				.card-body.text-left
					h5.h3.card-title.text-center.mb-4 1 950 USD
					.card-text.mb-2 + От 4 до 8 часов в неделю
					.card-text.mb-2 + Записи всех занятий
					.card-text.mb-2 + Общение с наставником
					.card-text.mb-4 + Помощь в трудоустройстве
			a(href="#").d-block.pt-2.pb-2.pt-md-3.pb-md-3
				button.btn.btn-success.m-auto(type="button") ЗАПИСАТЬСЯ


section.lear.container-fluid.pt-4.pb-4.pt-md-5.pb-md-5.bg-eee
	.container
		.row
			h2.h4_blue.mb-3.mb-md-4.mb-lg-5 ПРЕПОДАВАТЕЛЬ
		p
			b Бакалов Даниил Александрович
		p Опытный программист. Этичный хакер. Антрепренер. Участник разработки ряда американских стартапов.
		p Методолог, разработавший простой подход к обучению программированию. Нетехнические люди осваивают навык за 40 академических часов.
		p Ведущий специалист по подготовке программистов в компаниях 
			b МТС, СберБанк и СибИнфоЦентр.

section#quote.container-fluid.pt-4.pb-4.pt-md-5.pb-md-5.mb-3.mb-md-4.mb-lg-5
	.container
		.row.align-items-center
			.col.col-md-4.text-center.color_blue
				p 80% практики
				p Талантливый наставник
			.col.col-md-4.text-center
				p Если после двух недель вы решите, что обучение вам не подходит, мы вернем 100% оплаченной вами суммы
			.col.col-md-4.text-center.color_blue
				p Работа над реальным стартапом
				p Помощь в трудоустройстве










