section.main_screen.container-fluid
	.row.flex-column.text-center.align-self-center.justify-content-center.h-100
		h2.h1.mb-2.mb-md-3.mb-lg-4 КУРС ПРОГРАММИРОВАНИЯ
		h1.h4.mb-2.mb-md-3.mb-lg-4 FULL STACK DEVELOPER <br> ЗА 6 МЕСЯЦЕВ
		h3.h6.mb-2.mb-md-3.mb-lg-4 ДО 10 ЧЕЛОВЕК В ГРУППЕ
		a(href="#")
			button.btn.btn-lg.btn-success(type="button") ЗАПИСАТЬСЯ

section#about.container.pt-4.pb-4.pt-md-5.pb-md-5
	.row
		h2.h4_blue.mb-2.mb-md-3.mb-lg-4 О КУРСЕ
	p Рынок требует от программистов универсальности. Самостоятельно стать fullstack-программистом, способным разрабатывать как браузерную, так и серверную часть приложений, задача не тривиальная и требует от человека немало времени и усилий.
	p Данный курс предназначен для решения проблемы высокого входа в профессиональное программирование. Используя богатый опыт, мы отобрали наиболее востребованные технологии и проведем вас к необходимому уровню знаний и навыков самым коротким и эффективным путем.
	p Вы освоите два популярных языка программирования – Python и JavaScript. Научитесь пользоваться востребованными фреймворками для создания как клиентской, так и серверной логики. Научитесь проектировать базы данных и оптимизировать их для высоких нагрузок. Узнаете, как на базе технологии HTML5 с помощью изученных инструментов создавать прогрессивные web-сайты, мобильные и десктопные приложения.

section.learn.container-fluid.pt-4.pb-4.pt-md-5.pb-md-5
	.container
		.row
			h2.h4_blue.mb-3.mb-md-4.mb-lg-5 ВЫ ОСВОИТЕ
		.row
			.col-12.col-md-6
				p HTML5 / CSS3
				p Semantic-UI
				p JavaScript
				p VueJs
				p NodeJs
				p ExpressJs
				p Python
				p Django
				p Quazar / Cordova
			.col-12.col-md-6
				p SQLite
				p PostgreSQL
				p MongoDB
				p Linux
				p Visual Studio Code
				p Git / Bitbucket
				p Технический английский

section#program.container.pt-4.pb-4.pt-md-5.pb-md-5.bg-white
	.row
		h2.h4_blue.mb-3.mb-md-4.mb-lg-5 ПРОГРАММА КУРСА
	h5.p_head Модуль 1  – Сеть
	p – Основы HTTP-протокола
	p – Основы клиент-серверной архитектуры
	p – Полезные утилиты и основы работы с командной строкой
	p – Работа с Visual Studio Code
	p – Работа с системой постановки задач Redmine
	p – Домены, хостинг, Linux
	h5.p_head Модуль 2  – HTML/CSS
	p – HTML5
	p – CSS3
	p – Semantic UI
	p – Работа c системами контроля версий Git / Bitbucket / Github
	p – Инструмент отладки Chrome
	h5.p_head Модуль 3  – Python
	p – Основы синтаксиса
	p – Работа с файлами
	p – Работа с датами
	p – Объектно-ориентированное программирование
	p – Паттерн MVC
	p – Blockchain
	p – Django
	h5.p_head Модуль 4  – Базы данных
	p – Основы проектирования БД
	p – SQLite
	p – PostgreSQL
	p – MongoDB
	p – Высокие нагрузки
	h5.p_head Модуль 5  – JavaScript
	p – Основы синтаксиса
	p – ООП в функциональном стиле
	p – jQuery
	p – VueJs
	p – NodeJs
	p – ExpressJS
	p – Концепт RESTfull сервисов
	p – Quazar / Cordova (мобильная разработка)
	p – Electron

section#answer_pre.container-fluid
	#answer_pre_rotate

section.learn.container-fluid.pt-4.pb-4.pt-md-5.pb-md-5
	.container
		.row
			h2.h4_blue.mb-3.mb-md-4.mb-lg-5 ЧТО В ИТОГЕ?
		.text-center
			p Сможете основать собственный проект
			p Поучаствуете в разработке стартапа
			p Освоите прибыльную профессию
			p Научитесь работать в команде
			p Пройдете трениг от HR по трудоустройству
			p Получите сертификат и рекомендацию
			p Получите бесценный опыт и навыки

section.container.cards.cards_course.pt-4.pb-4.pt-md-5.pb-md-5.bg-white
	.row
		h2.h4_blue.mb-3.mb-md-4.mb-lg-5 СТОИМОСТЬ УЧАСТИЯ
	.row
		.col.col-md-6.col-lg-4.text-center.m-auto.f-basis320px
			.card.card2.shadow-lg
				.card-body.text-left
					h5.h3.card-title.text-center.mb-4 1 950 USD
					.card-text.mb-2 + От 4 до 8 часов в неделю
					.card-text.mb-2 + Записи всех занятий
					.card-text.mb-2 + Общение с наставником
					.card-text.mb-4 + Помощь в трудоустройстве
			a(href="#").d-block.pt-2.pb-2.pt-md-3.pb-md-3
				button.btn.btn-success.m-auto(type="button") ЗАПИСАТЬСЯ


section.lear.container-fluid.pt-4.pb-4.pt-md-5.pb-md-5.bg-eee
	.container
		.row
			h2.h4_blue.mb-3.mb-md-4.mb-lg-5 ПРЕПОДАВАТЕЛЬ
		p
			b Бакалов Даниил Александрович
		p Опытный программист. Этичный хакер. Антрепренер. Участник разработки ряда американских стартапов.
		p Методолог, разработавший простой подход к обучению программированию. Нетехнические люди осваивают навык за 40 академических часов.
		p Ведущий специалист по подготовке программистов в компаниях 
			b МТС, СберБанк и СибИнфоЦентр.

section#quote.container-fluid.pt-4.pb-4.pt-md-5.pb-md-5.mb-3.mb-md-4.mb-lg-5
	.container
		.row.align-items-center
			.col.col-md-4.text-center.color_blue
				p 80% практики
				p Талантливый наставник
			.col.col-md-4.text-center
				p Если после двух недель вы решите, что обучение вам не подходит, мы вернем 100% оплаченной вами суммы
			.col.col-md-4.text-center.color_blue
				p Работа над реальным стартапом
				p Помощь в трудоустройстве










