section.main_screen.container-fluid
	.row.flex-column.text-center.align-self-center.justify-content-center.h-100
		h1.h1.mb-2.mb-md-3.mb-lg-4 Machine Learning Certification Training
		h2.h4.mb-2.mb-md-3.mb-lg-4 ПРОФЕССИЯ PYTHON РАЗРАБОТЧИКА <br> ЗА 300 ЗАНЯТИЙ
		h3.h6.mb-2.mb-md-3.mb-lg-4 ДО 10 ЧЕЛОВЕК В ГРУППЕ
		a(href="#")
			button.btn.btn-lg.btn-success(type="button") ЗАПИСАТЬСЯ

section#about.container.pt-4.pb-4.pt-md-5.pb-md-5
	.row
		h2.h4_blue.mb-2.mb-md-3.mb-lg-4 О КУРСЕ
	p Python – язык программирования общего назначения. Его синтаксис прост и лаконичен. Область применения практически безгранична. С его помощью создают web-сайты, системные утилиты, облачные программы и искусственный интеллект. Возможно, вы даже не знали, что большая часть Youtube, Instagram и Dropbox написаны на Python.
	p Мы разработали эффективную методику освоения этого языка, которая в кратчайшие сроки позволит вам освоиться в мире программирования раз и навсегда. Методика показала превосходные результаты при обучении сотрудников СберБанка, МТС и Центра Финансовых Технологий.
	p Курс отлично подойдет тем, кто только начинает изучать программирование, либо хочет структурировать уже полученные ранее знания. На 80% состоит из практики и дарит каждому возможность стать программистом. Уже после первых занятий вы почувствуете, как на самом деле легко и приятно программировать.

section.learn.container-fluid.pt-4.pb-4.pt-md-5.pb-md-5
	.container
		.row
			h2.h4_blue.mb-3.mb-md-4.mb-lg-5 ВЫ ОСВОИТЕ
		.row
			.col-12.col-md-6
				p "Боевой" набор конструкций Python
				p Серверную логику web-приложений
				p Менеджер пакетов PIP
				p FarManager
				p ConEmul
				p Sublime3
			.col-12.col-md-6
				p TK (Библиотека для оконных программ)
				p Язык запросов SQL
				p SQLite
				p Основы Blockchain
				p Ресурсы для заработка

section#program.container.pt-4.pb-4.pt-md-5.pb-md-5.bg-white
	.row
		h2.h4_blue.mb-3.mb-md-4.mb-lg-5 ПРОГРАММА КУРСА
	h5.p_head Модуль 1 – Подготовка
	p – Краткая история создания Python
	p – Области применения Python в современной разработке
	p – Установка Python и PIP
	p – Установка и основы работы  FarManager
	p – Установка и настройка ConEmul. Мощнейшая консоль из коробки
	p – Установка Sublime3 и расширение до полноценной IDE
	p – Настройка рабочего окружения и запуск первого кода
	h5.p_head Модуль 2 – Основы синтаксиса
	p – Интерактивная оболочка Python. Мощность скрытая в простоте
	p – Переменные. Хранение данных в памяти компьютера
	p – Функции. Создаем собственные микропрограммы
	p – Встроенные функции для работы со строками
	p – Встроенные функции для работы с числами
	p – Что, если? Логика, ветвления, вариации
	p – Массивы данных. Хранение и обработка
	p – Циклы for и while. Что лучше?
	p – Словари как семантическая разновидность массивов
	p – Кортежи. Неизменяемые массивы данных
	p – Срезы. Диапазоны. Отсекаем лишнее
	p – Типы данных и преобразования из одного в другой
	p – Работа с файлами. Запись и чтение. Поиск по файлу
	p – Регулярные выражения. Поиск и замена по шаблону
	p – Итоговая работа. Чат-робот Алиса. Учим компьютер общаться
	h5.p_head Модуль 3 – Объектно-ориентированное программирование
	p – Понятие концепции ООП. Преимущества и недостатки
	p – Проектирование классов
	p – Атрибуты и свойства объектов
	p – Методы класса как простые функции
	p – Создание объектов на базе классов
	p – Методы конструкторы
	p – Наследование, инкапсуляция, полиморфизм
	p – Взаимодействие объектов друг с другом
	p – Итоговая работа. Консольная игра-блокбастер “Робот против человека”
	h5.p_head Модуль 4 – Встроенные и сторонние библиотеки Python
	p – Встроенная библиотека Python. “Батарейки в комплекте”
	p – Работа с псевдослучайными числами
	p – Работа с датами и временем
	p – Учимся считать диапазоны между датами
	p – TK. Библиотека для создания графических программ
	p – Создание генератора надежных паролей
	p – Менеджер пакетов PIP. Используем труд энтузиастов
	p – Криптография. Методы шифрования. Зачем?
	p – Итоговая работа. Основы Blockchain. Базовая технология криптовалют
	h5.p_head Модуль 5 – Серверная логика web-приложений
	p – Основы проектирования баз данных
	p – База данных SQLite
	p – Основы языка запросов SQL. Извлечение, добавление, удаление, обновление
	p – Django. Введение в создание web-приложений
	p – Концепция MVC. Модель. Представление. Контроллер
	p – Django ORM. Управляем базами данных с помощью ООП
	p – Итоговая работа. Интернет магазин для продажи товаров

section#answer_pre.container-fluid
	#answer_pre_rotate

section.learn.container-fluid.pt-4.pb-4.pt-md-5.pb-md-5
	.container
		.row
			h2.h4_blue.mb-3.mb-md-4.mb-lg-5 ЧТО В ИТОГЕ?
		.text-center
			p Освоите Python и станете программистом
			p Сможете писать программы любой сложности
			p Сможете самостоятельно осваивать языки
			p Научитесь разбираться в трендовых технологиях
			p Получите сертификат и рекомендацию
			p Получите бесценный опыт и навыки
			p Создадите чат-робота Алиса
			p Изучите web-библиотеку американских стартапов
			p Разберетесь в базовой технологии криптовалют

section.container.cards.cards_course.pt-4.pb-4.pt-md-5.pb-md-5.bg-white
	.row
		h2.h4_blue.mb-3.mb-md-4.mb-lg-5 СТОИМОСТЬ УЧАСТИЯ
	.row
		.col.col-md-6.col-lg-4.text-center.m-auto.f-basis320px
			.card.card2.shadow-lg
				.card-body.text-left
					h5.h3.card-title.text-center.through.color333.mb-4 400 USD
					h5.h3.card-title.text-center.mb-4 195 USD
					.card-text.mb-2 + до 10 человек в группе
					.card-text.mb-2 + 1  месяц – 50 занятий
					.card-text.mb-2 + Видео записи и книга
					.card-text.through.mb-2 - Web-фреймворк Django
					.card-text.through.mb-2 - Код для автоматизации рутины
					.card-text.through.mb-2 - 1 месяц поддержки после курса
					.card-text.through.mb-2 – Приглашение на работу
					.card-text.through.mb-2 - 4 часа индивидуальной работы
			a(href="#").d-block.pt-2.pb-2.pt-md-3.pb-md-3
				button.btn.btn-success.m-auto(type="button") ЗАПИСАТЬСЯ
		.col.col-md-6.col-lg-4.text-center.m-auto.f-basis320px
			.card.card2.shadow-lg
				.card-body.text-left
					h5.h3.card-title.text-center.through.color333.mb-4 1 200 USD
					h5.h3.card-title.text-center.mb-4 600 USD
					.card-text.mb-2 + до 10 человек в группе
					.card-text.mb-2 + 6 месяцев – 300 занятий
					.card-text.mb-2 + 10 разработчиков ведут
					.card-text.mb-2 + Web-фреймворк Django
					.card-text.mb-2 + Код для автоматизации рутины
					.card-text.mb-2 + 6 месяцев поддержки
					.card-text.mb-2 + 4 индивидуальных занятия
			a(href="#").d-block.pt-2.pb-2.pt-md-3.pb-md-3
				button.btn.btn-success.m-auto(type="button") ЗАПИСАТЬСЯ
		.col.col-md-6.col-lg-4.text-center.m-auto.f-basis320px
			.card.card2.shadow-lg
				.card-body.text-left
					h5.h3.card-title.text-center.through.color333.mb-4 12 000 USD
					h5.h3.card-title.text-center.mb-4 6 000 USD
					.card-text.mb-2 + индивидуально
					.card-text.mb-2 + 6 месяцев – 300 занятий
					.card-text.mb-2 + 10 разработчиков ведут
					.card-text.mb-2 + Свой стартап
					.card-text.mb-2 + Код для автоматизации рутины
					.card-text.mb-2 + 12 месяцев поддержки
					.card-text.mb-2 + Раскрутка стартапа
					.card-text.mb-2 + Регистрация компании в США
			a(href="#").d-block.pt-2.pb-2.pt-md-3.pb-md-3
				button.btn.btn-success.m-auto(type="button") ЗАПИСАТЬСЯ


section.lear.container-fluid.pt-4.pb-4.pt-md-5.pb-md-5.bg-eee
	.container
		.row
			h2.h4_blue.mb-3.mb-md-4.mb-lg-5 ПРЕПОДАВАТЕЛЬ
		p
			b Бакалов Даниил Александрович
		p Опытный программист. Этичный хакер. Антрепренер. Участник разработки ряда американских стартапов.
		p Методолог, разработавший простой подход к обучению программированию. Нетехнические люди осваивают навык за 40 академических часов.
		p Ведущий специалист по подготовке программистов в компаниях
			b МТС, СберБанк и СибИнфоЦентр. Активный участник научного сообщества.

section#quote.container-fluid.pt-4.pb-4.pt-md-5.pb-md-5.mb-3.mb-md-4.mb-lg-5
	.container
		.row.align-items-center
			.col.col-md-4.text-center.color_blue
				p 80% практики
				p Талантливый наставник
			.col.col-md-4.text-center
				p Если после двух недель вы решите, что обучение вам не подходит, мы вернем 100% оплаченной вами суммы
			.col.col-md-4.text-center.color_blue
				p Записи всех занятий
				p Помощь в трудоустройстве










