<!DOCTYPE html>
html(lang="ru")
	head
		include ../head
	body
		include header_course
		//- include ../main_screen_mini
		//- include main_screen_full-stack
		//- include about_full-stack
		include Body_front-end
		//- include cards
		//- include quote
		include ../review
		include ../answer
		include ../footer
	//- script(src="JS.js")
	script
		include ../../Build/script.js
	script(src="http://127.0.0.1:35729/livereload.js?ext=Firefox&extver=0.0.46")


