header.container-fluid
	.container.pt-3.pt-md-4.pb-3.pb-md-4
		.row.justify-content-between.align-items-center
			a(href="/index.html").logo.text-white.pt-3.pb-3.h4 КУРСЫ ПРОГРАММИРОВАНИЯ
			.burger.burger_always.align-content-between.flex-wrap(onclick="togle_menu()")
				.burger_line
				.burger_line
				.burger_line
			nav.nav_burgerAlways.d-none2.text-center
				a(href="#about").nav_item.h4.text-white.text-center О КУРСЕ
				a(href="#program").nav_item.h4.text-white.text-center СОДЕРЖАНИЕ
				a(href="#review").nav_item.h4.text-white.text-center ОТЗЫВЫ
				a(href="#quote").nav_item.h4.text-white.text-center ГАРАНТИИ
				a(href="#about").nav_item.h4.text-white.text-center ВСЕ КУРСЫ
