section.main_screen.container-fluid
	.row.flex-column.text-center.align-self-center.justify-content-center.h-100
		h2.h1.mb-2.mb-md-3.mb-lg-4 КУРС ПРОГРАММИРОВАНИЯ
		h1.h4.mb-2.mb-md-3.mb-lg-4 FULL STACK DEVELOPER <br> ЗА 6 МЕСЯЦЕВ
		h3.h6.mb-2.mb-md-3.mb-lg-4 ДО 10 ЧЕЛОВЕК В ГРУППЕ
		a(href="#")
			button.btn.btn-lg.btn-success(type="button") ЗАПИСАТЬСЯ