section.bodyArticle.pb-4.pb-md-5
	//- .card.cards.pos-r.mb-1.mb-md-2.mb-lg-3.w-100
	//- 	img.card-img-top(src="http://курсы-программирования.рус/wp-content/uploads/2019/12/Ошибки-продвижения-20191.jpg", alt="Ошибки-продвижения-2019")
	//- 	.pos-a.card-title.card-title-in-dark.card-title-in-dark_big.d-flex.align-items-center
	//- 		.text-center.d-flex.f-column.w-100
	//- 			h1.h4_blue.mb-3.mb-md-4.mb-lg-5.mt-3.mt-md-4.mt-lg-5.text-white Google TOP1 Продвижение сайтов

	.container
		.row
			h1.h4_blue.mb-3.mb-md-4.mt-4.mt-md-5 Google TOP1 Продвижение сайтов
	.container.pt-2.pt-md-3
		.row
			p 
			p 
			p 
			p &#8194;
				a(href="https://курсы-программирования.рус/зарплата-среднестатистического-прог") о заработной плате&#8194;
				| 
			b 
			ol
				li 
			h5.h5_blue.mb-3.mb-md-4.mt-4.mt-md-5 
			ul(style="list-style-type:circle;")
				li 
			img(src="http://курсы-программирования.рус/wp-content/uploads/2019/12/.jpg", alt="ВЛИЯНИЯ_НА_ОКЛАД").img-fluid.mb-4.mb-md-5

			table.table.table-bordered
				thead
					tr
						th(scope='col') Фамилия
						th(scope='col') Username
				tbody
					tr
						th(scope='row') 1
						td Otto
					tr
						th(scope='row') 2
						td Otto