section.body-article.pt-4.pb-4.pt-md-5.pb-md-5
	.container.pt-2.pt-md-3
		.row
			.card.cards.pos-r.mt-1.mb-1.mt-md-2.mb-md-2.mt-lg-3.mb-lg-3.w-100
				img.card-img-top(src="http://курсы-программирования.рус/wp-content/uploads/2019/12/Оклад-в-США-для-программиста.jpg", alt="ВЛИЯНИЯ_НА_ОКЛАД")
				.pos-a.card-title.card-title-in-dark.card-title-in-dark_big.d-flex.align-items-center
					.text-center.d-flex.f-column.w-100
						h1.h4_blue.mb-3.mb-md-4.mb-lg-5.mt-3.mt-md-4.mt-lg-5.text-white Оклад в США для среднестатистического программиста
	.container.pt-2.pt-md-3
		p IT-сфера завоевывает мир! И ни один работодатель в стремительно развивающихся странах не сможет перечить этой аксиоме. Почти в каждой компании существует ИТ-отдел, который помогает следить за сайтами, социальными сетями и даже приборами, которыми оперируют работники. Без ИТ-технолога не обходится ни один магазин с кассовыми аппаратами, ни один онлайн-магазин или компания, которая ведет работу с помощью программного ПО (сайты для худеющих, программы тренировок на телефон и другое). Профессия программиста на пике популярности, поэтому и оклады превышают все границы.
		h5.h5_blue.mb-3.mb-md-4.mt-4.mt-md-5 Заработная плата в США для ведущего специалиста
		p За работу платят адекватные деньги, которых хватает не только на нужды ежемесячно, но и на накопления в банковскую ячейку. При этом, средний оклад американца в ИТ-сфере от 70 до 90 тысяч долларов в год. Не редко, россияне едут покорять Америку именно после знакомства с окладами. При этом, качество жизни на порядок выше, как и цены в магазинах, но большинства влечет высокий оклад и престиж компании.
		p Оклады программистов в ведущих компаниях страны:
		img(src="http://курсы-программирования.рус/wp-content/uploads/2019/12/Оклад-в-США-для-программиста2.jpg", alt="ВЛИЯНИЯ_НА_ОКЛАД").img-fluid.mb-4.mb-md-5
		p Компании, которые платят оклад от 80,000 долларов имеют четкие требования к навыкам, образованию и опыту работы будущих сотрудников. Не стоит ехать за мечтой, если за плечами только университет, это может закончится маленьким окладом в программировании или даже работой не по специальности. Более 50% трудящихся в США на вакансиях IT-сферы имеют более 5 лет трудового стажа в этой сфере. Это может быть, как первая работа после университета, или разные варианты компаний, но со схожей спецификой деятельности.
		p Лучший вариант – воспользоваться агентством на территории родной страны, чтобы ехать на готовое рабочее место с уже подписанным договором труда.Если вы успешно оформили рабочую, то это увеличивает шанс открытия Грин карты, о которой мечтают все приезжие в США. Именно ее получение сократит ваши траты на проживание, на налог и даже на медицинскую помощь. Также не будет требования продления рабочей визы, сама Грин карта – разрешение на все блага, которые имеют коренные американцы. Американцы стремятся стать лидерами в программировании, но при этом принимают на работу специалистов из разных уголков мира.


//- section.container-fluid.pt-4.pb-4.pt-md-5.pb-md-5
//- 	.container.pt-2.pt-md-3
//- 		.row
//- 			h1.h4_blue.mb-2.mb-md-3.mb-lg-4.mt-2.mt-md-3.mt-lg-4.m-auto Оклад в США для среднестатистического программиста
//- 	.container.pt-2.pt-md-3
//- 		p IT-сфера завоевывает мир! И ни один работодатель в стремительно развивающихся странах не сможет перечить этой аксиоме. Почти в каждой компании существует ИТ-отдел, который помогает следить за сайтами, социальными сетями и даже приборами, которыми оперируют работники. Без ИТ-технолога не обходится ни один магазин с кассовыми аппаратами, ни один онлайн-магазин или компания, которая ведет работу с помощью программного ПО (сайты для худеющих, программы тренировок на телефон и другое). Профессия программиста на пике популярности, поэтому и оклады превышают все границы.
//- 		img(src="http://курсы-программирования.рус/wp-content/uploads/2019/12/Оклад-в-США-для-программиста.jpg", alt="ВЛИЯНИЯ_НА_ОКЛАД").img-fluid.mb-4.mb-md-5
//- 		h5.h5_blue.mb-2.mb-md-3.mt-2.mt-md-3 Заработная плата в США для ведущего специалиста
//- 		p За работу платят адекватные деньги, которых хватает не только на нужды ежемесячно, но и на накопления в банковскую ячейку. При этом, средний оклад американца в ИТ-сфере от 70 до 90 тысяч долларов в год. Не редко, россияне едут покорять Америку именно после знакомства с окладами. При этом, качество жизни на порядок выше, как и цены в магазинах, но большинства влечет высокий оклад и престиж компании.
//- 		p Оклады программистов в ведущих компаниях страны:
//- 		img(src="http://курсы-программирования.рус/wp-content/uploads/2019/12/Оклад-в-США-для-программиста2.jpg", alt="ВЛИЯНИЯ_НА_ОКЛАД").img-fluid.mb-4.mb-md-5
//- 		p Компании, которые платят оклад от 80,000 долларов имеют четкие требования к навыкам, образованию и опыту работы будущих сотрудников. Не стоит ехать за мечтой, если за плечами только университет, это может закончится маленьким окладом в программировании или даже работой не по специальности. Более 50% трудящихся в США на вакансиях IT-сферы имеют более 5 лет трудового стажа в этой сфере. Это может быть, как первая работа после университета, или разные варианты компаний, но со схожей спецификой деятельности.
//- 		p Лучший вариант – воспользоваться агентством на территории родной страны, чтобы ехать на готовое рабочее место с уже подписанным договором труда.Если вы успешно оформили рабочую, то это увеличивает шанс открытия Грин карты, о которой мечтают все приезжие в США. Именно ее получение сократит ваши траты на проживание, на налог и даже на медицинскую помощь. Также не будет требования продления рабочей визы, сама Грин карта – разрешение на все блага, которые имеют коренные американцы. Американцы стремятся стать лидерами в программировании, но при этом принимают на работу специалистов из разных уголков мира.
