section.body-article.pt-4.pb-4.pt-md-5.pb-md-5
	.container.pt-2.pt-md-3
		.row
			.card.cards.pos-r.mt-1.mb-1.mt-md-2.mb-md-2.mt-lg-3.mb-lg-3.w-100
				img.card-img-top(src="http://курсы-программирования.рус/wp-content/uploads/2019/12/Girl_PC_Ass.jpg", alt="ВЛИЯНИЯ_НА_ОКЛАД")
				.pos-a.card-title.card-title-in-dark.card-title-in-dark_big.d-flex.align-items-center
					.text-center.d-flex.f-column.w-100
						h1.h4_blue.mb-2.mb-md-3.mt-3.mt-md-4.mt-lg-5.text-white Ремонт ноутбуков работа
						p Вакансия: мастер по ремонту ноутбуков.
						a(href="https://forms.gle/vLqGmfb9SLpHvPNQA").d-block.text-center
							button.btn.btn-lg.btn-success.mb-5(type="button", style="max-width:300px") Заполнить анкету

