section.contract.container-fluid.pt-4.pb-4.pt-md-5.pb-md-5
	.container.pt-2.pt-md-3
		.row
			h1.h4_blue.mb-2.mb-md-3.mb-lg-4.mt-2.mt-md-3.mt-lg-4.m-auto Оклад рядового программиста в России в 2019 году
	.container.pt-2.pt-md-3
		p В 2019 году на пике славы программирование. Поэтому тема окладов, как никогда актуальна, не только для США и других зарубежных стран, но и для России. В этой статье мы рассмотрим все возможные факторы влияния на заработную плату работника ИТ-сферы. Но для начала напомним: программист – специалист, который работает с программным ПО, базами данных, с локальной сетью, интернетом и кодами для программ.
		h5.h5_blue Факторы влияния на оклад
		img(src="../../img/ВЛИЯНИЯ_НА_ОКЛАД.jpg", alt="ВЛИЯНИЯ_НА_ОКЛАД").img-fluid
		p Даже с актуальными знаниями, но без образования программиста, ваше резюме могут даже не просмотреть. Для того, чтобы попасть на собеседование или получить тестовую работу на удаленке, нужно составить красочное резюме, которое зацепит глаз работодателя. Самые ценные пункты – образование и опыт работы. Прежде, чем подавать свое резюме в крупную компанию, попробуйте себя и свои силы в менее популярной. Тем самым, вы раздобудете опыт и оцените на практике свои силы. От чего зависит зарплата программиста:
		b 1. Количество языков программирования в копилке знаний и навыков.
		p Популярные языки программирования: Pyton, Java и PHP.
		b 2. Знание иностранных языков.
		p Знание английского – это 50% успеха, так как, достаточно часто, динамически развивающимся компаниям требуются международные сотрудники. Помимо этого, большинство программного ПО нужно настраивать именно на английском. Специалист сферы ИТ, со 100% уверенностью должен владеть английским. Третий язык будет бонусом.
		b 3. Заработная плата увеличивается в прогрессии с возможностями, которые предлагает сотрудник.
		p К примеру, связи с ведущими компаниями ИТ-сферы помогут заработать первое место в конкуренции на рынке программирования. Умение программировать на всех языках – бонус горизонты для компании.
		h5.h5_blue Оклад в Москве и регионах
		p Оклад рядового программиста, который только закончил университет, не превышает среднюю зарплату по России – около 40 тысяч в месяц. Постепенно, повышая уровень знаний, совершенствуясь и получив опыт работы до 5 лет – средняя заработная плата составляет от 100,000 рублей в месяц. Такой оклад получают люди с знанием двух и более языков программирования, а также с плотным графиком работы. Зарплата руководителя IT-отделом составляет 5 окладов опытного программиста в месяц. При этом на сотруднике вся ответственность за выполнение работы рядовыми программистами.
		//- a(href="")
		img(src="../../img/textru.jpg", alt="textru.jpg").img-fluid.mb-4.mb-md-5
		
		img(src="../../img/turgenev.jpg", alt="turgenev.jpg").img-fluid





