section.container-fluid.pt-4.pb-4.pt-md-5.pb-md-5
	.container.pt-2.pt-md-3
		.row
			h1.h4_blue.mb-2.mb-md-3.mb-lg-4.mt-2.mt-md-3.mt-lg-4.m-auto Заработная плата программиста из США
	.container.pt-2.pt-md-3
		p Программирование – это процесс создания программного обеспечения на одном из языков программирования. За последние 5 лет, как показывает статистика подбора кадров, вакансия программиста самая популярная. Ежегодно в США ищут работу более 10.000 новых кадров, которые закончили курсы или университеты с IT-специальностью. Такие специалисты должны осуществлять работу с вычислительной техникой, компьютерами, чтобы автоматизировать линии, разрабатывать алгоритмы, вести поддержку сайтов. Эти термины будут мало понятны людям, у которых нет соответствующего образования.
		h5.h5_blue IT как высокооплачиваемая сфера
		p Высокие технологии неуклонно внедряются не только в производственный процесс, но и во все сферы человеческой жизни. Программирование становится не просто решением стандартных задач. Профессия требует нетривиального и творческого подхода. А за это компании готовы платить немалые деньги.
		p Преимущества работы в web-индустрии не ограничиваются только высокой зарплатой. Другие плюсы профессии:
		ul(style="list-style-type:circle;")
			li 
				b востребованность 
				|(часто компании берут работников без специального образования, главное – талант);
			li 
				b финансовая стабильность 
				| (заработок будет неуклонно расти);
			li 
				b мобильность 
				|(многие профессионалы работают не по стандартному офисному графику, а удаленно, в режиме онлайн).
		p 
		p 
		p 
		p 
		p 
		b 
		ol
			li 
		h5.h5_blue 
		ul(style="list-style-type:circle;")
			li 
		img(src="http://курсы-программирования.рус/wp-content/uploads/2019/12/.jpg", alt="ВЛИЯНИЯ_НА_ОКЛАД").img-fluid.mb-4.mb-md-5
