section.container-fluid.pt-4.pb-4.pt-md-5.pb-md-5
	.container.pt-2.pt-md-3
		.row
			h1.h4_blue.mb-2.mb-md-3.mb-lg-4.mt-2.mt-md-3.mt-lg-4.m-auto 
	.container.pt-2.pt-md-3
		p 
		p 
		b 
		ol
			li 
		h5.h5_blue 
		ul(style="list-style-type:circle;")
			li 
		img(src="http://курсы-программирования.рус/wp-content/uploads/2019/12/.jpg", alt="ВЛИЯНИЯ_НА_ОКЛАД").img-fluid.mb-4.mb-md-5
