section.body-article.pt-4.pb-4.pt-md-5.pb-md-5
	.container.pt-2.pt-md-3

		.row
			.card.cards.pos-r.mt-1.mb-1.mt-md-2.mb-md-2.mt-lg-3.mb-lg-3.w-100
				img.card-img-top(src="http://курсы-программирования.рус/wp-content/uploads/2019/12/google_top1.jpg" alt="google_top1")
				.pos-a.card-title.card-title-in-dark.card-title-in-dark_big.d-flex.align-items-center
					.text-center.d-flex.f-column.w-100
						h1.h4_blue.mb-3.mb-md-4.mb-lg-5.mt-3.mt-md-4.mt-lg-5.text-white Google TOP1 Продвижение сайтов
						p ДО 10 ЧЕЛОВЕК В ГРУППЕ
						p 300 ЗАНЯТИЙ ОНЛАЙН
						p ОБУЧАЮТ ПРОГРАММИСТЫ

	.container.pt-2.pt-md-3
		.row
			h5.h5_blue.mb-2.mb-md-3.mt-2.mt-md-3 ПРОГРАММА
			ul(style="list-style-type:circle;")
				li Экскурсия в GOOGLE
				li Поисковые движки
				li Аудитория вашего сайта. Продвижение по вашим запросам
				li Оптимизация
				li Ключевые слова
				li Создание сайта
				li Создание контента ссылок
				li Влияние социальных сетей на поиск и рейтинг
				li Вертикальный поиск
				li Отслеживание результата и объем успеха
				li Устранение неполадок. Изменение домена
				li Поисковая оптимизация
				li Аутсортинг? Оптимизация? Или оба метода хороши?
				li Эволюция поиска
