section.container-fluid.pt-4.pb-4.pt-md-5.pb-md-5
	.container.pt-2.pt-md-3
		.row
			h1.h4_blue.mb-2.mb-md-3.mb-lg-4.mt-2.mt-md-3.mt-lg-4.m-auto Курсы дизайнерского программирования
	.container.pt-2.pt-md-3
		p Программирование — интересная и высокооплачиваемая профессия. Например, в Москве соискателям работодатели предлагают около 3000 вакансий. специальность можно освоить онлайн.
		h5.h5_blue Кем быть?
		p Перед записью курсы программирования стоит определить направление будущей профессии. Программисты могут заниматься разработкой веб-сайтов, игр, компьютерных и мобильных приложений. Высококлассный специалист должен знать языки программирования. При разработке веб-сайта используются Python, JavaScript и PHP. Компьютерные программы создаются при помощи JavaScript и C#. Желающим разрабатывать мобильные приложения для Андроид и iOS нужно знать Kotlin, Swift и Java. Любителям игр для создания высококлассного шутера понадобятся JavaScript, C# и C++.
		h5.h5_blue Где учиться?
		p Сегодня курсы программирования можно пройти на платформах известных онлайн-университетов. GeekBrains предлагает 30 направлений. После завершения курса выдается именной сертификат. Полученные знания позволят найти работу в крупной IT-компании. Помимо основного материала, здесь можно проходить бесплатные интенсивы, смотреть вебинары и получить советы от ведущих специалистов. На сайте помимо учебного материала есть информация о действующих вакансиях в крупных IT-компаниях.
		img(src="http://курсы-программирования.рус/wp-content/uploads/2019/12/курсы-дизайнерского-прогр.jpg", alt="ВЛИЯНИЯ_НА_ОКЛАД").img-fluid.mb-4.mb-md-5
		p Нетология — онлайн-школа, которая позволяет повысить квалификацию или получить новую профессию. Во время обучения студенты смотрят вебинары, выполняют домашнее задание и общаются с наставником. В конце программы школа выдает сертификат о прохождении курса.
		p Skillbox — ещё один сервис для обучения профессии программиста. Его главное преимущество перед предыдущими курсами в том, что первые 6 месяцев обучения на платформе бесплатные. Банки-партнеры предлагают взять кредит для оплаты с 7 месяца. Во время обучения студенты смотрят видео лекции, выполняют домашние задания и общаются с куратором. Все три сервиса помогают с последующим трудоустройством.
		h5.h5_blue Сколько стоит?
		p Цена на курсы программирования начинается от 10 000 рублей и выше. Узкая специализация будет стоить дороже, хотя может длиться меньше. Все рассмотренные школы на практике доказали эффективность программ. На сайте каждого из сервисов есть отзывы от бывших учеников и форум для общения между действующими студентами. Главное, выбрать то направление, которое раскроет ваш потенциал!
		img(src="http://курсы-программирования.рус/wp-content/uploads/2019/12/курсы-дизайнерского-прогр1.jpg", alt="ВЛИЯНИЯ_НА_ОКЛАД").img-fluid.mb-4.mb-md-5
		img(src="http://курсы-программирования.рус/wp-content/uploads/2019/12/курсы-дизайнерского-прогр3.jpg", alt="ВЛИЯНИЯ_НА_ОКЛАД").img-fluid.mb-4.mb-md-5
