section#about.container.pt-4.pb-4.pt-md-5.pb-md-5
	.row
		h2.h4_blue.mb-2.mb-md-3.mb-lg-4 КОНТАКТЫ
	p Телефон: 8-800-551-85-77
	p Электронная почта: ARBITR1688@GMAIL.COM
	p Реквизиты:
	p ИП Семенов Денис Сергеевич
	p ИНН: 236700944680 / ОГРН: 318237500419031
	p 354340, РОССИЯ, КРАСНОДАРСКИЙ КРАЙ, Г СОЧИ, УЛ СТАНИСЛАВСКОГО (Р-Н АДЛЕРСКИЙ), Д 11 КВ 70
