section.body-article.pt-4.pb-4.pt-md-5.pb-md-5
	.container.pt-2.pt-md-3
		.row
			.card.cards.pos-r.mt-1.mb-1.mt-md-2.mb-md-2.mt-lg-3.mb-lg-3.w-100
				img.card-img-top(src="http://курсы-программирования.рус/wp-content/uploads/2019/12/заработок-IT_ в_США2.jpg", alt="заработок-IT_ в_США")
				.pos-a.card-title.card-title-in-dark.card-title-in-dark_big.d-flex.align-items-center
					.text-center.d-flex.f-column.w-100
						h1.h4_blue.mb-3.mb-md-4.mb-lg-5.mt-3.mt-md-4.mt-lg-5.text-white Реален ли заработок на программировании в США?
	.container.pt-2.pt-md-3
		.row
			p Программисты – это самые востребованные люди, которые могут помочь компаниям делать бизнес без труда. Обычные штатные работники онлайн-журналов могут спокойно выполнять свою работу, не боясь сбоев на веб-страницах, на офисных компьютерах и другой технике. Такие люди – универсалы, они могут помочь решить любую проблему, которая касается программирования. Тем не менее, на хорошего специалиста и хорошие оклады!
			h5.h5_blue.mb-3.mb-md-4.mt-4.mt-md-5 Какой средний заработок у IT-специалиста в США?
			p Средний оклад программиста в год:
			.w-100
			ol
				li Новичок – до 45,000 долларов.
				li Средний уровень – до 70,000 долларов.
				li Высокий уровень – до 90,000 долларов.
				li Работа в ведущих международных компаниях (Apple, Google, Fecebook) – от 100,000 в год и выше.
			p Такие цифры манят иностранцев и кружат голову всем, кто мечтает о престижной работе именно в США. Несмотря на то, что в Германии, Англии и Великобритании тоже высокие оклады за труд в IT, большинство иммигрантов выбирают Америку. Говорить о высоких тратах на жилье и продукты питания не приходится, ведь зарплата может покрыть все расходы и даже дать возможность делать дорогие покупки каждый месяц. Самые большие оклады престижных компаний концентрируются в главных офисах. Например, офис Фейсбук в России предлагает половину от ежегодных окладов в США.
			h5.h5_blue.mb-3.mb-md-4.mt-4.mt-md-5 Опыт работы в IT
			p Нужно понимать, что перед возможным рабочим визитом США, нужно набраться опыта в программировании. Желательно от 5 лет, ведь с таким стажем резюме просматривают гораздо чаще. ИТ-сфера в США делит людей по опыту их работы. Таким образом сформировано 5 типов, по которым была выделена статистика:
			ul(style="list-style-type:circle;")
				li Опыт до 1 года – 18% работников рынка.
				li 1-4 года – 38% работников.
				li 5-9 лет – 32%.
				li 10-19 лет – 9%.
				li Опыт более 20 лет – 3%.
			img(src="http://курсы-программирования.рус/wp-content/uploads/2019/12/заработок-IT_ в_США4.jpg", alt="ВЛИЯНИЯ_НА_ОКЛАД").img-fluid.mb-4.mb-md-5
			p Абсолютное большинство работников – мужчины. Опытные работодатели связывают это с тем, что у мужчин математический склад ума, поэтому программирование дается легче. Но также более 18% женщин занимают высокие должности в IT-сфере и получают высокие оклады. Это доказывает, что у мечты нет границ. Чтобы получить престижную работу в США нужны не только навыки и умения в программировании, но и рабочая виза или грин карта, образовательные документы, социальные и медицинские страховки, но это уже совсем другая история!



//- section.body-article.pt-4.pb-4.pt-md-5.pb-md-5
//- 	.container.pt-2.pt-md-3
//- 			h1.h4_blue.mb-2.mb-md-3.mb-lg-4.mt-2.mt-md-3.mt-lg-4.m-auto Реален ли заработок на программировании в США?
//- 	.container.pt-2.pt-md-3
//- 		p Программисты – это самые востребованные люди, которые могут помочь компаниям делать бизнес без труда. Обычные штатные работники онлайн-журналов могут спокойно выполнять свою работу, не боясь сбоев на веб-страницах, на офисных компьютерах и другой технике. Такие люди – универсалы, они могут помочь решить любую проблему, которая касается программирования. Тем не менее, на хорошего специалиста и хорошие оклады!
//- 		img(src="http://курсы-программирования.рус/wp-content/uploads/2019/12/заработок-IT_ в_США2.jpg", alt="заработок-IT_ в_США-IT_ в_СШАЯ_НА_ОКЛАД").img-fluid.mb-4.mb-md-5
//- 		h5.h5_blue Какой средний заработок у IT-специалиста в США?
//- 		p Средний оклад программиста в год:
//- 		ol
//- 			li Новичок – до 45,000 долларов.
//- 			li Средний уровень – до 70,000 долларов.
//- 			li Высокий уровень – до 90,000 долларов.
//- 			li Работа в ведущих международных компаниях (Apple, Google, Fecebook) – от 100,000 в год и выше.
//- 		p Такие цифры манят иностранцев и кружат голову всем, кто мечтает о престижной работе именно в США. Несмотря на то, что в Германии, Англии и Великобритании тоже высокие оклады за труд в IT, большинство иммигрантов выбирают Америку. Говорить о высоких тратах на жилье и продукты питания не приходится, ведь зарплата может покрыть все расходы и даже дать возможность делать дорогие покупки каждый месяц. Самые большие оклады престижных компаний концентрируются в главных офисах. Например, офис Фейсбук в России предлагает половину от ежегодных окладов в США.
//- 		h5.h5_blue Опыт работы в IT
//- 		p Нужно понимать, что перед возможным рабочим визитом США, нужно набраться опыта в программировании. Желательно от 5 лет, ведь с таким стажем резюме просматривают гораздо чаще. ИТ-сфера в США делит людей по опыту их работы. Таким образом сформировано 5 типов, по которым была выделена статистика:
//- 		ul(style="list-style-type:circle;")
//- 			li Опыт до 1 года – 18% работников рынка.
//- 			li 1-4 года – 38% работников.
//- 			li 5-9 лет – 32%.
//- 			li 10-19 лет – 9%.
//- 			li Опыт более 20 лет – 3%.
//- 		img(src="http://курсы-программирования.рус/wp-content/uploads/2019/12/заработок-IT_ в_США4.jpg", alt="ВЛИЯНИЯ_НА_ОКЛАД").img-fluid.mb-4.mb-md-5
//- 		p Абсолютное большинство работников – мужчины. Опытные работодатели связывают это с тем, что у мужчин математический склад ума, поэтому программирование дается легче. Но также более 18% женщин занимают высокие должности в IT-сфере и получают высокие оклады. Это доказывает, что у мечты нет границ. Чтобы получить престижную работу в США нужны не только навыки и умения в программировании, но и рабочая виза или грин карта, образовательные документы, социальные и медицинские страховки, но это уже совсем другая история!
//- 		img(src="../../img/заработок-IT_ в_США1.jpg", alt="ВЛИЯНИЯ_НА_ОКЛАД").img-fluid.mb-4.mb-md-5
//- 		img(src="../../img/заработок-IT_ в_США3.jpg", alt="ВЛИЯНИЯ_НА_ОКЛАД").img-fluid.mb-4.mb-md-5
