<!DOCTYPE html>
html(lang="ru")
	head
		include ../head
	body
		include ../header
		include body_contacts
		include ../main_screen
		include ../footer
	script
		include ../../Build/script.js
	script(src="http://127.0.0.1:35729/livereload.js?ext=Firefox&extver=0.0.46")


