<!DOCTYPE html>
html(lang="ru")
	head
		include ../head
	body
		include ../header
		include Body_Курсы-SEO-оптимизации-продвижению
		//- include Body_Ремонт-ноутбуков-работа
		//- include Body_Зар-плата-программиста-США
		//- include Body_Ошибки-продвижения-2019
		//- include Body_Оклад-в-США-для-программиста
		//- include Body_заработок-IT-в-США
		//- include Body_курсы-для-детей
		//- include Body_курсы-дизайнерского-программирования
		//- include Body_лучшие-книги
		//- include Body_в-IT-без-опыта
		//- include Body_продвижение-сайтов
		//- include Body_оклад-программиста
		//- include Body_заработок-IT_ в_США
		//- include Body_вред-бесплатных-VPN
		//- include Body_Google_TOP1
		include ../footer
	script
		include ../../Build/script.js
	script(src="http://127.0.0.1:35729/livereload.js?ext=Firefox&extver=0.0.46")


//- http://курсы-программирования.рус/ремонт-ноутбуков-работа/
//- https://курсы-программирования.рус/курсы-SEO-оптимизации-продвижения
//- SEO-spec300