<!DOCTYPE html>
html(lang="ru")
	head
		include ../head
	body
		include ../header
		include Body_Курсы-SEO-оптимизации-продвижению
		//- include Body_Ремонт-ноутбуков-работа                 *
		//- include Body_Ошибки-продвижения-2019                 *
		//- include Body_Google_TOP1                             *
		//- include Body_Оклад-в-США-для-программиста            *
		//- include Body_курсы-дизайнерского-программирования    *
		//- include Body_в-IT-без-опыта                          *
		//- include Body_реален-ли-заработок-на-программирова    *
		//- include Body_вред-бесплатных-VPN                     *
		//- include Body_курсы-для-детей                         * -фото
		//- include Body_выбор-страны-для-работы-программисто    * -фото
		//- include Body_заработок-программиста-в-россии         *
		//- include Body_образование-программиста-за-границе     *
		//- include Body_онлайн-курсы-от-лучших-университетов    *
		//- include Body_программирование-в-2019-году-актуальные * -фото
		//- include Body_статистика-зарплат-в-it-сфере           *
		//- include Body_высокий-оклад-для-программиста-миф-ил   *
		//- include Body_реальная-история-программиста-из-глу    * -фото
		//- include Body_заработная-плата-программиста-из-сша    *
		//- include Body_статистика-заработной-платы-програм     *
		//- include Body_Shablon


		//- include Body_оклад-программиста    -фото
		//- include Body_продвижение-сайтов    -фото
		//- include Body_заработок-IT-в-США
		//- include Body_лучшие-книги
		
		//- Bad Article
		//- include Body_Зар-плата-программиста-США
		include ../footer
	script
		include ../../Build/script.js
	script(src="http://127.0.0.1:35729/livereload.js?ext=Firefox&extver=0.0.46")

//- https://курсы-программирования.рус/отзывы-о-школах-программирования          -фото
//- https://курсы-программирования.рус/сравнение-работы-программиста-в-сша-и     -аватарка
//- https://курсы-программирования.рус/продвижение_сайтов_обучение_и_быстры      -аватарка
//- https://курсы-программирования.рус/отзывы-о-javarush-вся-правда              -аватарка
//- https://курсы-программирования.рус/sql-галактика-как-не-потеряться-в-соврем  -аватарка
//- https://курсы-программирования.рус/детское-программирование-как-начать       -аватарка
//- https://курсы-программирования.рус/курсы-qa-отзывы-студентов                 -аватарка
//- https://курсы-программирования.рус/обзор-курсов-вэб-разработка               -аватарка
//- https://курсы-программирования.рус/школа-яндекс-практикум-реальные-отзы      -аватарка
//- https://курсы-программирования.рус/обучение-программированию-на-java
//- https://курсы-программирования.рус/курсы-seo-реальные-отзывы-и-комментарии



//- https://курсы-программирования.рус/оклад-рядового-программиста-в-россии/    -фото

//- https://курсы-программирования.рус/реален-ли-заработок-на-программирова
//- http://курсы-программирования.рус/вред-бесплатных-vpn
//- http://курсы-программирования.рус/пробраться-в-it-сферу-без-опыта-миф-или-р
//- http://курсы-программирования.рус/ремонт-ноутбуков-работа/
//- https://курсы-программирования.рус/курсы-SEO-оптимизации-продвижения
//- https://курсы-программирования.рус/Курсы-дизайнерского-прогр
//- SEO-spec300

//- Банковской картой:

//- Для выбора оплаты товара с помощью банковской карты на соответствующей странице необходимо нажать кнопку «Оплата заказа банковской картой».

//- Оплата происходит через ПАО СБЕРБАНК с использованием Банковских карт следующих платежных систем:

//- Возврат товара
//- Срок возврата денежных средств составляет 30 дней с момента оплаты.
//- Возврат переведенных средств, производится на Ваш банковский счет в течение 5—30 рабочих дней (срок зависит от Банка, который выдал Вашу банковскую карту).



//- sitemap.xml
//- robots.txt