section#about.container.pt-4.pb-4.pt-md-5.pb-md-5
	.row
		h2.h4_blue.mb-2.mb-md-3.mb-lg-4 ПОЧЕМУ МЫ?
	p Чувство рынка, авторские методики  и умение объяснять сложные вещи простым языком – наши главные преимущества. Активно сотрудничая с корпоративным сектором, приоритетной задачей становится скорость и качество обучения. После наших курсов людям не приходится переучиваться, что дает возможность выстраивать долгосрочные отношения с представителями крупных компаний.
	p Все преподаватели – это практики, которые умеют отделять главное от второстепенного. Нет заумных академических речей и сложных объяснений. Акцент сделан на простую, понятную каждому теорию и активную практическую часть.
	p Вне зависимости от начальной подготовки, выпускники в равной степени получают все необходимые знания и навыки для эффективной ежедневной работы. Каждому студенту уделяется столько внимания, сколько это требуется для достаточного понимания инструментов, с которыми он работает.