section#answer_pre.container-fluid
	#answer_pre_rotate
section#answer.container-fluid.pb-4.pb-md-5
	.container
		.row
			h2.h2.mb-2.mb-md-3.mb-lg-4.m-auto ВОПРОСЫ И ОТВЕТЫ
		.row
			.answer_wrap
				.answer_wrap_item.pt-3.pl-3.pr-3(onclick="togle_answer(this)")
					.answer_wrap_item_h5
						.arrow.d-flex.align-self-center
						h5.h5.ml-2 Как проходит обучение?
					.answer_wrap_item_p
						p.pb-md-2 Курсы проводятся online с преподавателем, по вечерам. График гибкий.  Для обучения мы используем программу ZOOM.
				.answer_wrap_item.pt-3.pl-3.pr-33(onclick="togle_answer(this)")
					.answer_wrap_item_h5
						.arrow.d-flex.align-self-center
						h5.h5.ml-2 Получу ли я ответы на свои вопросы?
					.answer_wrap_item_p
						p.pb-md-2 Вы получите максимально развернутые ответы на любые вопросы, связанные с программой курса.
				.answer_wrap_item.pt-3.pl-3.pr-33(onclick="togle_answer(this)")
					.answer_wrap_item_h5
						.arrow.d-flex.align-self-center
						h5.h5.ml-2 Как оплатить курс?
					.answer_wrap_item_p
						p.pb-md-2 Мы принимаем Visa, MasterCard и безналичные платежи от юридических лиц.
				.answer_wrap_item.pt-3.pl-3.pr-33(onclick="togle_answer(this)")
					.answer_wrap_item_h5
						.arrow.d-flex.align-self-center
						h5.h5.ml-2 Сколько длится обучение?
					.answer_wrap_item_p
						p.pb-md-2 В зависимости от выбранного Вами курса, обучение длится от 1 до 6 месяцев. Если усвояемость информации группой будет на высоком уровне, вполне возможно, что понадобится меньше времени на прохождение всей программы. 
				.answer_wrap_item.pt-3.pl-3.pr-33(onclick="togle_answer(this)")
					.answer_wrap_item_h5
						.arrow.d-flex.align-self-center
						h5.h5.ml-2 Что делать, если я новичек?
					.answer_wrap_item_p
						p.pb-md-2 Курс предполагает только базовое знание английского языка и умение пользоваться компьютером на базе уверенного пользователя. У вас все получится!
				.answer_wrap_item.pt-3.pl-3.pr-33(onclick="togle_answer(this)")
					.answer_wrap_item_h5
						.arrow.d-flex.align-self-center
						h5.h5.ml-2 Что, если у меня уже есть опыт программирования?
					.answer_wrap_item_p
						p.pb-md-2 Отлично! Вам будет легче проходить программу. Курс устроен таким образом, что вы структурируете свои знания и вам никогда не придется переучиваться!
