section.container.mt-4.mb-4.mt-md-5.mb-md-5
	.row
		.col-12.col-md-6.col-lg-4
			a(href="#").card.shadow-hover.mt-1.mb-1.mt-md-2.mb-md-2.mt-lg-3.mb-lg-3
				img.card-img-top(src="img/hacker-in-legal300.jpg" alt="hacker-in-legal")
				.card-body
					.card-title.text-center.text-black PenTest+ Hacker Certification Training
		.col-12.col-md-6.col-lg-4
			a(href="#").card.shadow-hover.mt-1.mb-1.mt-md-2.mb-md-2.mt-lg-3.mb-lg-3
				img.card-img-top(src="img/продвижение300.jpeg" alt="hacker-in-legal")
				.card-body
					.card-title.text-center.text-black Google TOP1 Продвижение сайтов
		.col-12.col-md-6.col-lg-4
			a(href="#").card.shadow-hover.mt-1.mb-1.mt-md-2.mb-md-2.mt-lg-3.mb-lg-3
				img.card-img-top(src="img/artificial-intelligence300.jpg" alt="hacker-in-legal")
				.card-body
					.card-title.text-center.text-black Artificial intelligence Certification Training
		.col-12.col-md-6.col-lg-4
			a(href="#").card.shadow-hover.mt-1.mb-1.mt-md-2.mb-md-2.mt-lg-3.mb-lg-3
				img.card-img-top(src="img/cyber-security300.jpg" alt="hacker-in-legal")
				.card-body
					.card-title.text-center.text-black Cyber Security Certification Training
		.col-12.col-md-6.col-lg-4
			a(href="#").card.shadow-hover.mt-1.mb-1.mt-md-2.mb-md-2.mt-lg-3.mb-lg-3
				img.card-img-top(src="img/data-security300.jpg" alt="hacker-in-legal")
				.card-body
					.card-title.text-center.text-black Big Data Security Certification Training
		.col-12.col-md-6.col-lg-4
			a(href="#").card.shadow-hover.mt-1.mb-1.mt-md-2.mb-md-2.mt-lg-3.mb-lg-3
				img.card-img-top(src="img/5-ios-dev-training-2-300x300.jpg" alt="hacker-in-legal")
				.card-body
					.card-title.text-center.text-black iOS App Development Training
		.col-12.col-md-6.col-lg-4
			a(href="#").card.shadow-hover.mt-1.mb-1.mt-md-2.mb-md-2.mt-lg-3.mb-lg-3
				img.card-img-top(src="img/5-java-3-300x300.jpg" alt="hacker-in-legal")
				.card-body
					.card-title.text-center.text-black Java App Development Certificate Training
		.col-12.col-md-6.col-lg-4
			a(href="#").card.shadow-hover.mt-1.mb-1.mt-md-2.mb-md-2.mt-lg-3.mb-lg-3
				img.card-img-top(src="img/6-social-engineering-3-300x300.jpg" alt="hacker-in-legal")
				.card-body
					.card-title.text-center.text-black PenTest+ Social Engineering Training
		.col-12.col-md-6.col-lg-4
			a(href="#").card.shadow-hover.mt-1.mb-1.mt-md-2.mb-md-2.mt-lg-3.mb-lg-3
				img.card-img-top(src="img/9-machine-learning-300x300.jpeg" alt="hacker-in-legal")
				.card-body
					.card-title.text-center.text-black Machine Learning Certification Training