.cards
	background #eeeeee
	padding-right: 0
	padding-left: 0
	.col-12
		@media screen and (max-width: 576px)
			padding-right 0
			padding-left 0
	.card
		border none
	.card-title-in-dark
		background rgba(0, 0, 0, 0.8)
		padding 12px 0
		margin 0
		bottom: 0
		width 100%
		color #ffffff