section.container-fluid.cards.pt-4.pb-4.pt-md-5.pb-md-5
	.container
		.row
			.col-12.col-md-6.col-lg-4.mb-2
				a(href="https://курсы-программирования.рус/full-stack-course").card.pos-r.shadow-hover.mt-1.mb-1.mt-md-2.mb-md-2.mt-lg-3.mb-lg-3
					img.card-img-top(src="https://курсы-программирования.рус/wp-content/uploads/2019/12/Full%20_Stack300x300.jpg?_t=1577958497" alt="Full Stack")
					.pos-a.card-title.card-title-in-dark.text-center Full Stack
			.col-12.col-md-6.col-lg-4.mb-2
				a(href="https://курсы-программирования.рус/Machine-Learning-Certification-Training").card.pos-r.shadow-hover.mt-1.mb-1.mt-md-2.mb-md-2.mt-lg-3.mb-lg-3
					img.card-img-top(src="https://курсы-программирования.рус/wp-content/uploads/2019/12/9-machine-learning-300x300.jpeg" alt="machine-learning")
					.pos-a.card-title.card-title-in-dark.text-center Machine Learning Certification Training
			.col-12.col-md-6.col-lg-4.mb-2
				a(href="https://курсы-программирования.рус/FRONT-END-CERTIFICATION-TRAINING").card.pos-r.shadow-hover.mt-1.mb-1.mt-md-2.mb-md-2.mt-lg-3.mb-lg-3
					img.card-img-top(src="https://курсы-программирования.рус/wp-content/uploads/2019/12/FRONT_END_CERTIFICATION_TRAINING300x300.jpg" alt="machine-learning")
					.pos-a.card-title.card-title-in-dark.text-center Front End Certification Training
			.col-12.col-md-6.col-lg-4.mb-2
				a(href="https://курсы-программирования.рус/google-top1-продвижение-сайтов").card.pos-r.shadow-hover.mt-1.mb-1.mt-md-2.mb-md-2.mt-lg-3.mb-lg-3
					img.card-img-top(src="https://курсы-программирования.рус/wp-content/uploads/2019/12/google_top1300x300.jpg" alt="google_top1")
					.pos-a.card-title.card-title-in-dark.text-center Google TOP1 Продвижение сайтов
			.col-12.col-md-6.col-lg-4.mb-2
				a(href="https://курсы-программирования.рус/ремонт-ноутбуков-работа/").card.pos-r.shadow-hover.mt-1.mb-1.mt-md-2.mb-md-2.mt-lg-3.mb-lg-3
					img.card-img-top(src="https://курсы-программирования.рус/wp-content/uploads/2019/12/1-hacker-in-legal-0109-1-300x300.jpg" alt="hacker-in-legal")
					.pos-a.card-title.card-title-in-dark.text-center РЕМОНТ НОУТБУКОВ РАБОТА
			.col-12.col-md-6.col-lg-4.mb-2
				a(href="https://курсы-программирования.рус/курсы-по-seo-оптимизации-и-продвижению-с").card.pos-r.shadow-hover.mt-1.mb-1.mt-md-2.mb-md-2.mt-lg-3.mb-lg-3
					img.card-img-top(src="https://курсы-программирования.рус/wp-content/uploads/2019/12/SEO-spec300.jpg" alt="machine-learning")
					.pos-a.card-title.card-title-in-dark.text-center КУРСЫ ПО SEO-ОПТИМИЗАЦИИ И ПРОДВИЖЕНИЮ САЙТОВ
			.col-12.col-md-6.col-lg-4.mb-2
				a(href="https://курсы-программирования.рус/ошибки-и-тренды-продвижения-сайтов-в-2019").card.pos-r.shadow-hover.mt-1.mb-1.mt-md-2.mb-md-2.mt-lg-3.mb-lg-3
					img.card-img-top(src="https://курсы-программирования.рус/wp-content/uploads/2019/12/Ошибки-продвижения-2019300.jpg" alt="Ошибки-продвижения-2019")
					.pos-a.card-title.card-title-in-dark.text-center ОШИБКИ И ТРЕНДЫ ПРОДВИЖЕНИЯ САЙТОВ В 2019
			.col-12.col-md-6.col-lg-4.mb-2
				a(href="https://курсы-программирования.рус/оклад-в-сша-для-среднестатистическог").card.pos-r.shadow-hover.mt-1.mb-1.mt-md-2.mb-md-2.mt-lg-3.mb-lg-3
					img.card-img-top(src="https://курсы-программирования.рус/wp-content/uploads/2019/12/Оклад-в-США-для-программиста300.jpg" alt="Оклад-в-США-для-программиста")
					.pos-a.card-title.card-title-in-dark.text-center ОКЛАД В США ДЛЯ СРЕДНЕСТАТИСТИЧЕСКОГО ПРОГРАММИСТА
			.col-12.col-md-6.col-lg-4.mb-2
				a(href="https://курсы-программирования.рус/курсы-дизайнерского-прогр").card.pos-r.shadow-hover.mt-1.mb-1.mt-md-2.mb-md-2.mt-lg-3.mb-lg-3
					img.card-img-top(src="https://курсы-программирования.рус/wp-content/uploads/2019/12/курсы-дизайнерского-прогр300.jpg" alt="курсы-дизайнерского-прогр")
					.pos-a.card-title.card-title-in-dark.text-center КУРСЫ ДИЗАЙНЕРСКОГО ПРОГРАММИРОВАНИЯ
			.col-12.col-md-6.col-lg-4.mb-2
				a(href="https://курсы-программирования.рус/пробраться-в-it-сферу-без-опыта-миф-или-р").card.pos-r.shadow-hover.mt-1.mb-1.mt-md-2.mb-md-2.mt-lg-3.mb-lg-3
					img.card-img-top(src="https://курсы-программирования.рус/wp-content/uploads/2019/12/в-IT-без-опыта300.jpg" alt="ПРОБРАТЬСЯ В IT-СФЕРУ БЕЗ ОПЫТА: МИФ ИЛИ РЕАЛЬНОСТЬ")
					.pos-a.card-title.card-title-in-dark.text-center ПРОБРАТЬСЯ В IT-СФЕРУ БЕЗ ОПЫТА: МИФ ИЛИ РЕАЛЬНОСТЬ
			.col-12.col-md-6.col-lg-4.mb-2
				a(href="https://курсы-программирования.рус/вред-бесплатных-vpn").card.pos-r.shadow-hover.mt-1.mb-1.mt-md-2.mb-md-2.mt-lg-3.mb-lg-3
					img.card-img-top(src="https://курсы-программирования.рус/wp-content/uploads/2019/12/Вред_VPN1300.jpg" alt="Вред_VPN")
					.pos-a.card-title.card-title-in-dark.text-center ВРЕД ОТ БЕСПЛАТНЫХ СЕРВИСОВ VPN
			.col-12.col-md-6.col-lg-4.mb-2
				a(href="https://курсы-программирования.рус/реален-ли-заработок-на-программирова").card.pos-r.shadow-hover.mt-1.mb-1.mt-md-2.mb-md-2.mt-lg-3.mb-lg-3
					img.card-img-top(src="https://курсы-программирования.рус/wp-content/uploads/2019/12/заработок-IT_в_США2300.jpg" alt="artificial-intelligence")
					.pos-a.card-title.card-title-in-dark.text-center РЕАЛЕН ЛИ ЗАРАБОТОК НА ПРОГРАММИРОВАНИИ В США?
			.col-12.col-md-6.col-lg-4.mb-2
				a(href="https://курсы-программирования.рус/заработок-программиста-в-россии").card.pos-r.shadow-hover.mt-1.mb-1.mt-md-2.mb-md-2.mt-lg-3.mb-lg-3
					img.card-img-top(src="https://курсы-программирования.рус/wp-content/uploads/2019/12/заработок-программиста-в-россии300.jpg" alt="artificial-intelligence")
					.pos-a.card-title.card-title-in-dark.text-center ЗАРАБОТОК ПРОГРАММИСТА В РОССИИ
			.col-12.col-md-6.col-lg-4.mb-2
				a(href="https://курсы-программирования.рус/образование-программиста-за-границе").card.pos-r.shadow-hover.mt-1.mb-1.mt-md-2.mb-md-2.mt-lg-3.mb-lg-3
					img.card-img-top(src="https://курсы-программирования.рус/wp-content/uploads/2019/12/образование-программиста-за-границе300.jpg" alt="artificial-intelligence")
					.pos-a.card-title.card-title-in-dark.text-center Образование программиста за границей
			.col-12.col-md-6.col-lg-4.mb-2
				a(href="https://курсы-программирования.рус/онлайн-курсы-от-лучших-университетов").card.pos-r.shadow-hover.mt-1.mb-1.mt-md-2.mb-md-2.mt-lg-3.mb-lg-3
					img.card-img-top(src="https://курсы-программирования.рус/wp-content/uploads/2019/12/онлайн-курсы-от-лучших-университетов300.jpg" alt="artificial-intelligence")
					.pos-a.card-title.card-title-in-dark.text-center Онлайн-курсы от лучших университетов Америки
			.col-12.col-md-6.col-lg-4.mb-2
				a(href="https://курсы-программирования.рус/статистика-зарплат-в-it-сфере").card.pos-r.shadow-hover.mt-1.mb-1.mt-md-2.mb-md-2.mt-lg-3.mb-lg-3
					img.card-img-top(src="https://курсы-программирования.рус/wp-content/uploads/2019/12/статистика-зарплат-в-it-сфере300.jpg" alt="статистика-зарплат-в-it-сфере")
					.pos-a.card-title.card-title-in-dark.text-center СТАТИСТИКА ЗАРПЛАТ В IT-СФЕРЕ
			.col-12.col-md-6.col-lg-4.mb-2
				a(href="https://курсы-программирования.рус/высокий-оклад-для-программиста-миф-ил").card.pos-r.shadow-hover.mt-1.mb-1.mt-md-2.mb-md-2.mt-lg-3.mb-lg-3
					img.card-img-top(src="https://курсы-программирования.рус/wp-content/uploads/2019/12/высокий-оклад-для-программиста-миф-ил300.jpg" alt="статистика-зарплат-в-it-сфере")
					.pos-a.card-title.card-title-in-dark.text-center Высокий оклад для программиста: миф или реальность?
			.col-12.col-md-6.col-lg-4.mb-2
				a(href="https://курсы-программирования.рус/статистика-заработной-платы-програм").card.pos-r.shadow-hover.mt-1.mb-1.mt-md-2.mb-md-2.mt-lg-3.mb-lg-3
					img.card-img-top(src="https://курсы-программирования.рус/wp-content/uploads/2019/12/статистика-заработной-платы-програм300.jpg" alt="статистика-заработной-платы-програм")
					.pos-a.card-title.card-title-in-dark.text-center Статистика заработной платы программиста в 2019 году
			.col-12.col-md-6.col-lg-4.mb-2
				a(href="https://курсы-программирования.рус/заработная-плата-программиста-из-сша").card.pos-r.shadow-hover.mt-1.mb-1.mt-md-2.mb-md-2.mt-lg-3.mb-lg-3
					img.card-img-top(src="https://курсы-программирования.рус/wp-content/uploads/2019/12/заработная-плата-программиста-из-сша300.jpg" alt="статистика-заработной-платы-програм")
					.pos-a.card-title.card-title-in-dark.text-center Заработная плата программиста из США и Германии
			
			.col-12.col-md-6.col-lg-4.mb-2
				a(href="https://курсы-программирования.рус/оклад-в-сша-для-среднестатистическог").card.pos-r.shadow-hover.mt-1.mb-1.mt-md-2.mb-md-2.mt-lg-3.mb-lg-3
					img.card-img-top(src="https://курсы-программирования.рус/wp-content/uploads/2019/12/3-artificial-intelligence-3-300x300.jpg" alt="artificial-intelligence")
					.pos-a.card-title.card-title-in-dark.text-center Artificial intelligence Certification Training
			.col-12.col-md-6.col-lg-4.mb-2
				a(href="#").card.pos-r.shadow-hover.mt-1.mb-1.mt-md-2.mb-md-2.mt-lg-3.mb-lg-3
					img.card-img-top(src="https://курсы-программирования.рус/wp-content/uploads/2019/12/4-cyber-security-01-300x300.jpg" alt="cyber-security")
					.pos-a.card-title.card-title-in-dark.text-center Cyber Security Certification Training
			.col-12.col-md-6.col-lg-4.mb-2
				a(href="#").card.pos-r.shadow-hover.mt-1.mb-1.mt-md-2.mb-md-2.mt-lg-3.mb-lg-3
					img.card-img-top(src="https://курсы-программирования.рус/wp-content/uploads/2019/12/4-data-security-3-300x300.jpg" alt="data-security")
					.pos-a.card-title.card-title-in-dark.text-center Big Data Security Certification Training
			.col-12.col-md-6.col-lg-4.mb-2
				a(href="#").card.pos-r.shadow-hover.mt-1.mb-1.mt-md-2.mb-md-2.mt-lg-3.mb-lg-3
					img.card-img-top(src="https://курсы-программирования.рус/wp-content/uploads/2019/12/5-ios-dev-training-2-300x300.jpg" alt="dev-training")
					.pos-a.card-title.card-title-in-dark.text-center iOS App Development Training
			//- .col-12.col-md-6.col-lg-4.mb-2
			//- 	a(href="#").card.pos-r.shadow-hover.mt-1.mb-1.mt-md-2.mb-md-2.mt-lg-3.mb-lg-3
			//- 		img.card-img-top(src="https://курсы-программирования.рус/wp-content/uploads/2019/12/5-java-3-300x300.jpg" alt="java")
			//- 		.pos-a.card-title.card-title-in-dark.text-center Java App Development Certificate Training
			//- .col-12.col-md-6.col-lg-4.mb-2
			//- 	a(href="#").card.pos-r.shadow-hover.mt-1.mb-1.mt-md-2.mb-md-2.mt-lg-3.mb-lg-3
			//- 		img.card-img-top(src="https://курсы-программирования.рус/wp-content/uploads/2019/12/6-social-engineering-3-300x300.jpg" alt="social-engineering")
			//- 		.pos-a.card-title.card-title-in-dark.text-center PenTest+ Social Engineering Training