section.container-fluid.cards.pt-4.pb-4.pt-md-5.pb-md-5
	.container
		.row
			.col-12.col-md-6.col-lg-4.mb-2
				a(href="https://курсы-программирования.рус/Machine-Learning-Certification-Training").card.shadow-hover.mt-1.mb-1.mt-md-2.mb-md-2.mt-lg-3.mb-lg-3
					img.card-img-top(src="http://курсы-программирования.рус/wp-content/uploads/2019/12/9-machine-learning-300x300.jpeg" alt="machine-learning")
					.card-body
						.card-title.text-center.text-black Machine Learning Certification Training
			.col-12.col-md-6.col-lg-4.mb-2
				a(href="https://курсы-программирования.рус/FRONT-END-CERTIFICATION-TRAINING").card.shadow-hover.mt-1.mb-1.mt-md-2.mb-md-2.mt-lg-3.mb-lg-3
					img.card-img-top(src="http://курсы-программирования.рус/wp-content/uploads/2019/12/FRONT_END_CERTIFICATION_TRAINING300x300.jpg" alt="machine-learning")
					.card-body
						.card-title.text-center.text-black Front End Certification Training
			.col-12.col-md-6.col-lg-4.mb-2
				a(href="https://курсы-программирования.рус/google-top1-продвижение-сайтов").card.shadow-hover.mt-1.mb-1.mt-md-2.mb-md-2.mt-lg-3.mb-lg-3
					img.card-img-top(src="http://курсы-программирования.рус/wp-content/uploads/2019/12/google_top1300x300.jpg" alt="google_top1")
					.card-body
						.card-title.text-center.text-black Google TOP1 Продвижение сайтов
			.col-12.col-md-6.col-lg-4.mb-2
				a(href="#").card.shadow-hover.mt-1.mb-1.mt-md-2.mb-md-2.mt-lg-3.mb-lg-3
					img.card-img-top(src="http://курсы-программирования.рус/wp-content/uploads/2019/12/3-artificial-intelligence-3-300x300.jpg" alt="artificial-intelligence")
					.card-body
						.card-title.text-center.text-black Artificial intelligence Certification Training
			.col-12.col-md-6.col-lg-4.mb-2
				a(href="https://курсы-программирования.рус/FULL-STACK-2").card.shadow-hover.mt-1.mb-1.mt-md-2.mb-md-2.mt-lg-3.mb-lg-3
					img.card-img-top(src="http://курсы-программирования.рус/wp-content/uploads/2019/12/Full%20_Stack300x300.jpg?_t=1577958497" alt="Full Stack")
					.card-body
						.card-title.text-center.text-black Full Stack
			.col-12.col-md-6.col-lg-4.mb-2
				a(href="#").card.shadow-hover.mt-1.mb-1.mt-md-2.mb-md-2.mt-lg-3.mb-lg-3
					img.card-img-top(src="http://курсы-программирования.рус/wp-content/uploads/2019/12/4-cyber-security-01-300x300.jpg" alt="cyber-security")
					.card-body
						.card-title.text-center.text-black Cyber Security Certification Training
			.col-12.col-md-6.col-lg-4.mb-2
				a(href="#").card.shadow-hover.mt-1.mb-1.mt-md-2.mb-md-2.mt-lg-3.mb-lg-3
					img.card-img-top(src="http://курсы-программирования.рус/wp-content/uploads/2019/12/4-data-security-3-300x300.jpg" alt="data-security")
					.card-body
						.card-title.text-center.text-black Big Data Security Certification Training
			.col-12.col-md-6.col-lg-4.mb-2
				a(href="#").card.shadow-hover.mt-1.mb-1.mt-md-2.mb-md-2.mt-lg-3.mb-lg-3
					img.card-img-top(src="http://курсы-программирования.рус/wp-content/uploads/2019/12/5-ios-dev-training-2-300x300.jpg" alt="dev-training")
					.card-body
						.card-title.text-center.text-black iOS App Development Training
			.col-12.col-md-6.col-lg-4.mb-2
				a(href="#").card.shadow-hover.mt-1.mb-1.mt-md-2.mb-md-2.mt-lg-3.mb-lg-3
					img.card-img-top(src="http://курсы-программирования.рус/wp-content/uploads/2019/12/5-java-3-300x300.jpg" alt="java")
					.card-body
						.card-title.text-center.text-black Java App Development Certificate Training
			.col-12.col-md-6.col-lg-4.mb-2
				a(href="#").card.shadow-hover.mt-1.mb-1.mt-md-2.mb-md-2.mt-lg-3.mb-lg-3
					img.card-img-top(src="http://курсы-программирования.рус/wp-content/uploads/2019/12/6-social-engineering-3-300x300.jpg" alt="social-engineering")
					.card-body
						.card-title.text-center.text-black PenTest+ Social Engineering Training
			.col-12.col-md-6.col-lg-4.mb-2
				a(href="#").card.shadow-hover.mt-1.mb-1.mt-md-2.mb-md-2.mt-lg-3.mb-lg-3
					img.card-img-top(src="http://курсы-программирования.рус/wp-content/uploads/2019/12/1-hacker-in-legal-0109-1-300x300.jpg" alt="hacker-in-legal")
					.card-body
						.card-title.text-center.text-black PenTest+ Hacker Certification Training
			.col-12.col-md-6.col-lg-4.mb-2
				a(href="#").card.shadow-hover.mt-1.mb-1.mt-md-2.mb-md-2.mt-lg-3.mb-lg-3
					img.card-img-top(src="http://курсы-программирования.рус/wp-content/uploads/2019/12/9-machine-learning-300x300.jpeg" alt="machine-learning")
					.card-body
						.card-title.text-center.text-black Machine Learning Certification Training