section#course.container-fluid.pt-4.pb-4.pt-md-5.pb-md-5
	.container
		.row
			h2.h2.mb-2.mb-md-3.mb-lg-4.m-auto КУРСЫ
		.row
			.col.col-md-6.col-lg-4.text-center.m-auto.f-basis320px
				.card.card2.shadow-lg
					.card-body.text-left
						h3.h5.card-title.text-center FULL STACK DEVELOPER
						br
						.card-text + От 4 до 8 часов в неделю
						.card-text + Записи всех занятий
						.card-text + Общение с наставником
						.card-text + Помощь в трудоустройстве
						br
				a(href="#").d-block.pt-2.pb-2.pt-md-3.pb-md-3
					button.btn.btn-success.m-auto(type="button") Подробнее
			.col.col-md-6.col-lg-4.text-center.m-auto.f-basis320px
				.card.card2.shadow-lg
					.card-body.text-left
						h3.h5.card-title.text-center FRONT END РАЗРАБОТЧИК САЙТОВ
						br
						.card-text + От 4 до 8 часов в неделю
						.card-text + Записи всех занятий
						.card-text + Общение с наставником
						.card-text + Помощь в трудоустройстве
						br
				a(href="#").d-block.pt-2.pb-2.pt-md-3.pb-md-3
					button.btn.btn-success.m-auto(type="button") Подробнее
			.col.col-md-6.col-lg-4.text-center.m-auto.f-basis320px
				.card.card2.shadow-lg
					.card-body.text-left
						h3.h5.card-title.text-center PYTHON БАЗОВЫЙ
						br
						.card-text + От 4 до 8 часов в неделю
						.card-text + Записи всех занятий
						.card-text + Общение с наставником
						.card-text + Помощь в трудоустройстве
						br
				a(href="#").d-block.pt-2.pb-2.pt-md-3.pb-md-3
					button.btn.btn-success.m-auto(type="button") Подробнее