#course
	background-color #eeeeee
	h2.h2
		color: #11719f
		font-weight: 600
.card2
	border-radius: 12px
	background-image: linear-gradient(180deg, #ffffff 27%, rgba(26,48,61,0.13) 100%)

	.card-title
		color: #1ea650
		font-size: 16px
		font-weight: 700
		text-decoration-line: underline
		text-decoration: underline
	.card-text
		color: #1a303d
		margin .25rem 0
#course
	button
		font-family: "Roboto", Sans-serif
		font-weight: 600
.f-basis320px
	flex-basis: 320px