#course
	background-color #eeeeee
	h2.h2
		color: #11719f
		font-weight: 600
.card2
	border-radius: 12px
	background-image: linear-gradient(180deg, #ffffff 27%, rgba(26,48,61,0.13) 100%)

	.card-title
		color: #1ea650
		font-size: 16px
		font-weight: 700
		text-decoration-line: underline
		text-decoration: underline
	.card-text
		color: #1a303d
		margin .25rem 0
#course
	button
		font-family: "Roboto", Sans-serif
		font-weight: 600

.f-basis320px
	flex-basis: 320px

.learn
	background-color #eeeeee
	p::before
		content: "\2714"
		color: #11719f
		margin-right 10px
		font-size 1.2rem
		line-height 0

.p_head
	font-size 1.1rem
	font-weight 700
	margin-top 2rem
	margin-bottom 1rem

.bg-white
	background #ffffff

.bg-eee
	background #eeeeee

.cards_course
	.h5
		font-weight 700

.ml-auto
	margin-left: auto
.mr-auto
	margin-right: auto

#quote
	color: #ffffff
	background #1a303d
	font-weight 700
	@media screen and (min-width: 900px)
		font-size 1.2rem
	.color_blue
		color #11719f
	.col
		flex-basis: auto