footer#footer.container-fluid.pt-2.pt-md-3.pt-lg-4.pb-2.pb-md-3.pb-lg-4
	.container
		.row
			.footer_menu.col-12.col-md-6.pt-2
				h3.h3.text-center Меню
				a(href="/") ASTARTA – Курсы программирования
				a(href="/") Курс программирования – Fullstack разработчик
				a(href="/") Курс программирования - "Python - Быстрый старт"
				a(href="/") Курсы
				a(href="/") Трудоустройство
				a(href="/") Финансы
				a(href="/") Советы
				a(href="https://курсы-программирования.рус/политика_конфиденциальности") Политика конфиденциальности
				a(href="/") Способы оплаты
				a(href="/") Контакты
				a(href="/") Отзывы
			.footer_contacts.col-12.col-md-6.pt-2
				h3.h3.text-center Контакты
				a(href="tel:+88005518577") RU: 8 800 551 85 77
				a(href="tel:+77273505959") KZ: +7 727 350 59 59
				a(href="tel:+17864608824") USA: +1 786 460 88 24
				a(href="tel:+0800330107") UA: 0 800 33 01 07
				br
				a(href="https://курсы-программирования.рус/пользовательское-соглашение") Пользовательское соглашение
				a(href="/") ИП: Семёнов Денис Сергеевич
				a(href="/") ИНН: 236700944680
				a(href="/") ОГРН: 318237500419031
<script type="text/javascript">(function(d, w, s) { var widgetHash = '89trfzmrggbsexn8j5n7', gcw = d.createElement(s); gcw.type = 'text/javascript'; gcw.async = true; gcw.src = 'https://widgets.binotel.com/getcall/widgets/'+ widgetHash +'.js'; var sn = d.getElementsByTagName(s)[0]; sn.parentNode.insertBefore(gcw, sn);  })(document, window, 'script');</script>
