footer.container-fluid.pt-2.pt-md-3.pt-lg-4.pb-2.pb-md-3.pb-lg-4
	.container
		.row
			.footer_menu.col-12.col-md-6
				h3.h3.text-center Меню
				a(href="/") ASTARTA – Курсы программирования
				a(href="/") Курс программирования – Fullstack разработчик
				a(href="/") Курс программирования - "Python - Быстрый старт"
				a(href="/") Курсы
				a(href="/") Трудоустройство
				a(href="/") Финансы
				a(href="/") Советы
				a(href="/") Способы оплаты
				a(href="/") Контакты
				a(href="/") Отзывы
			.footer_contacts.col-12.col-md-6
				h3.h3.text-center Контакты
				a(href="tel:+88005518577") RU: 8 800 551 85 77
				a(href="tel:+77273505959") KZ: +7 727 350 59 59
				a(href="tel:+17864608824") USA: +1 786 460 88 24
				a(href="tel:+0800330107") UA: 0 800 33 01 07
				br
				a(href="/%D0%BF%D0%BE%D0%BB%D1%8C%D0%B7%D0%BE%D0%B2%D0%B0%D1%82%D0%B5%D0%BB%D1%8C%D1%81%D0%BA%D0%BE%D0%B5-%D1%81%D0%BE%D0%B3%D0%BB%D0%B0%D1%88%D0%B5%D0%BD%D0%B8%D0%B5/") Пользовательское соглашение
				a(href="/") ИП: Семёнов Денис Сергеевич
				a(href="/") ИНН: 236700944680
				a(href="/") ОГРН: 318237500419031
