// body
// 	background #aaa
// 	background #000
// 	background #fff
// 	margin 0
// 	padding 0
// 	min-width 540px
// @font-face
// 	font-family 'fregat'
// 	src url('font/Fregat_regular.otf')

.f-column
	flex-direction column

.text-black
	color: #000000 !important

.h4_blue
	width 100%
	color #11719f
	font-weight 600
	text-align center
	text-transform uppercase
	@media screen and (max-width: 371px)
		font-size 1.1rem

.d-none2
	display none

.h4, .h4_blue
	font-size 0.8rem
	@media screen and (min-width: 222px)
		font-size 0.9rem
	@media screen and (min-width: 340px)
		font-size 1rem
	@media screen and (min-width: 370px)
		font-size 1.1rem
	@media screen and (min-width: 470px)
		font-size 1.3rem
	@media screen and (min-width: 570px)
		font-size 1.3rem
	@media screen and (min-width: 600px)
		font-size 1.4rem
	@media screen and (min-width: 900px)
		font-size 1.5rem

.h5_blue
	width 100%
	color #11719f
	font-weight 600
	text-align center
	text-transform uppercase
	@media screen and (max-width: 371px)
		font-size 1rem

.h5, .h5_blue
	font-size 0.8rem
	@media screen and (min-width: 370px)
		font-size 0.9rem
	@media screen and (min-width: 470px)
		font-size 1rem
	@media screen and (min-width: 570px)
		font-size 1.1rem
	@media screen and (min-width: 600px)
		font-size 1.2rem
	@media screen and (min-width: 900px)
		font-size 1.3rem

.img-fluid
	width: 100%
	height: auto

.pointer
	cursor pointer

.pos-r
	position relative

.pos-a
	position absolute