header.container-fluid
	.container
		.row.justify-content-between.align-items-center
			a(href="/index.html").logo.text-white.h4 Astara
			nav
				a(href="#about").nav_item.h4.text-white О НАС
				a(href="#review").nav_item.h4.text-white.pl-2.pl-md-3.pl-lg-4 КУРСЫ
				a(href="#about").nav_item.h4.text-white.pl-2.pl-md-3.pl-lg-4 ОТЗЫВЫ
				a(href="#about").nav_item.h4.text-white.pl-2.pl-md-3.pl-lg-4 КОНТАКТЫ







