header.container-fluid
	.container.pt-3.pt-md-4.pb-3.pb-md-4
		.row.justify-content-between.align-items-center
			a(href="/index.html").logo.text-white.pt-3.pb-3.h4 КУРСЫ ПРОГРАММИРОВАНИЯ
			.burger.align-content-between.flex-wrap(onclick="togle_menu()")
				.burger_line
				.burger_line
				.burger_line
			nav.nav.d-none2.text-center
				a(href="#about").nav_item.h4.text-white.text-center О НАС
				//- a(href="#review").nav_item.h4.text-white.text-center.pl-3.pl-md-4.pl-lg-5 КУРСЫ
				a(href="#review").nav_item.h4.text-white.text-center.pl-3.pl-md-4.pl-lg-5 ОТЗЫВЫ
				a(href="#footer").nav_item.h4.text-white.text-center.pl-3.pl-md-4.pl-lg-5 КОНТАКТЫ







