header.container-fluid
	.container.pt-3.pt-md-4.pb-3.pb-md-4
		.row.justify-content-between.align-items-center
			a(href="/index.html").logo.text-white.h4 Astarta
			.burger.align-content-between.flex-wrap(onclick="togle_menu()")
				.burger_line
				.burger_line
				.burger_line
			nav.d-none2.text-center.text-sm-left
				a(href="#about").nav_item.h4.text-white.text-center.text-sm-left О НАС
				a(href="#review").nav_item.h4.text-white.text-center.text-sm-left.pl-3.pl-md-4.pl-lg-5 КУРСЫ
				a(href="#about").nav_item.h4.text-white.text-center.text-sm-left.pl-3.pl-md-4.pl-lg-5 ОТЗЫВЫ
				a(href="#about").nav_item.h4.text-white.text-center.text-sm-left.pl-3.pl-md-4.pl-lg-5 КОНТАКТЫ







