.main_screen_mini
	h2.h1
		color: #000066
		font-weight: 400
		font-size 36px
		@media screen and (max-width: 1000px)
			font-size 32px
		@media screen and (max-width: 666px)
			font-size 30px
		@media screen and (max-width: 555px)
			font-size 26px
		@media screen and (max-width: 444px)
			font-size 22px
		@media screen and (max-width: 300px)
			font-size 20px
	h3.h5
		color:rgb(26, 48, 61)
		font-weight: 400
		@media screen and (max-width: 888px)
			font-size: 1.1rem
		@media screen and (max-width: 666px)
			font-size: 1rem
		@media screen and (max-width: 555px)
			font-size: 0.9rem
		@media screen and (max-width: 444px)
			font-size: 0.8rem
