section.main_screen.container-fluid
	.row.flex-column.text-center.align-self-center.justify-content-center.h-100
		h1.h1.mb-2.mb-md-3.mb-lg-4 КУРСЫ ПРОГРАММИРОВАНИЯ
		h2.h4.mb-2.mb-md-3.mb-lg-4 ВЫПУСКАЕМ FULL STACK РАЗРАБОТЧИКОВ<br>МЕЖДУНАРОДНОГО КЛАССА
		a(href="#")
			button.btn.btn-lg.btn-success(type="button") Подобрать курс