section.main_screen_mini.container-fluid
	.container
		.row
			a(href="https://курсы-программирования.ру")
				h2.h1.mt-1.mt-md-2.mt-lg-3 Курсы программирования Astarta
		.row
			h3.h5.mb-2.mb-md-3.mb-lg-4 Выпускаем fullstack программистов международного класса
