.inner-title
	color white
	background-color #1a303d
.contract
	background #eeeeee
	.container
		background #ffffff
.main_screen_mini
	background #eeeeee
.through
	text-decoration line-through!important

.cards_course
	.card
		@media screen and (min-width: 400px)
			min-width: 300px

.color333
	color #333333!important

.white_in_bleack
	color #ffffff
	height 100%
	width 100%
	background rgba(0, 0, 0 , 0.6)

