#review
	h2.h2
		color: #11719f
		font-weight: 600
	.name
		color: #6ec1e4
		font-family: "Roboto", Sans-serif
		font-weight: 600
	.work
		color: #54595f
		font-family: "Roboto Slab", Sans-serif
		font-weight: 400
		font-size: .85em