// @require 'bootstrap_micro'
// @require 'global'

// @require 'header_mini'
@require 'header'
@require 'main_screen'

@require 'cards'
@require 'about'
@require 'review'
@require 'course'
@require 'answer'
@require 'footer'

@require 'main_screen_mini'
@require 'pages'