// @require 'bootstrap_micro'
// @require 'global'

@require 'header_mini'
@require 'main_screen'

//@require 'cards'
@require 'about'
@require 'review'
@require 'course'
//@require 'specialists'
//@require 'comment'
//@require 'appointment'
@require 'answer'
@require 'footer'